{% extends "base.html.twig" %}

{% block page_title %}
    SutekinaBox Accueil
{% endblock %}

{% block content %}
    <div class="row row-expand-lg">
        <div class="col">
            {% include 'components/connect.html.twig' %}
        </div>
        <div class="col">
            {% include 'components/subscribe.html.twig' %}
        </div>
    </div>
{% endblock %}