{% extends "base.html.twig" %}

{% block page_title %}
    SutekinaBox inscriptions
{% endblock %}

{% block content %}
    <div class="row row-expand-lg">
        <div class="col">
            <h3>Bienvenue chez Sutekina Box</h3>
            {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
        </div>
    </div>
{% endblock %}